.login-page {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
    gap: 24px;
}

.login-page a {
    color: var(--link-color);
}

.title__container {
    flex: 0.5;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 24px;
    color: white;
    position: relative;
    padding: 16px;
}

.to-home__container {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 10;
    background-color: white;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-inline: 16px;
}

.login__container {
    flex: 0.5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.login__title {
    color: var(--primary-color);
}

.login__content {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 48px 16px;
}

.login__form {
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.login__form input:not([type="checkbox"]) {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
}

.login__form input:not([type="checkbox"]) {
    padding-inline: 36px 8px;
}

.login__form input.password {
    padding-right: 36px;
}

.login__form  input:not([type="checkbox"]) {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.login__form button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
}

.login__spinner {
    align-self: center;
}

.login__form .input__container {
    display: flex;
    align-items: center;
    position: relative;
}

.input__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 24px;
    color: var(--gray-light);
    position: absolute;
    z-index: 1;
}

.eye__icon__container {
    right: 0;
}

.remember-me__container {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.remember-me__container label {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (hover: hover) {
    .to-home__container:hover {
        cursor: pointer;
    }
    
    .eye__icon__container:hover {
        cursor: pointer;
    }

    .login__form button[type="submit"]:hover {
        cursor: pointer;
    }
}

@media (max-width: 680px) {
    .login-page {
        background: linear-gradient(
            var(--primary-color) 35%,
            var(--secondary-color) 35%,
            var(--secondary-color)
        );
        flex-flow: column;
        justify-content: center;
    }

    .login__title {
        color: white;
    }

    .title__container {
        display: none;
    }
}

@media (max-width: 350px) {

    .login-page {
        padding: 24px;
    }

    .login__container {
        overflow-y: auto;
        padding: 0;
    }

    .to-home__container {
        width: 100%;
        position: relative;
        top: unset;
        left: unset;
        border-radius: 8px;
        gap: 8px;
        min-height: 48px;
    }

    .to-home__container::after {
        content: "Go to marketplace";
    }

    .remember-me__container {
        justify-content: center;
    }

    .remember-me__container label {
        width: 100%;
    }
}

@media (max-width: 250px) {
    .to-home__container::after {
        content: "";
    }
}