.dashboard-page {
    display: flex;
    flex-flow: column;
    gap: 16px;
    padding: 24px 24px 0 24px;
    position: relative;
    background-color: var(--secondary-color);
    height: 100%;
    padding-top: 40px;
}

.create-new__btn {
    background-color: var(--primary-color);
    color: white;
    min-height: 40px;
    max-width: 150px;
    align-self: flex-end;
    position: fixed;
}

.dashboard__image__section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dashboard__image__section .image__container {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    position: relative;
}

.round__white {
    border: 2px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
}

.dashboard__image__section .image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aqua;
}

.manage__products__section {
    display: flex;
    flex-flow: column;
    gap: 16px;
    width: 100%;
    overflow-y: auto;
}

.manage__products__container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    align-self: center;
    justify-content: center;
    padding-bottom: 64px;
}

@media (hover: hover) {
    .dashboard__image__section .image__container:hover {
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .create-new__btn {
        position: relative;
        max-width: unset;
    }

    .dashboard__image__section .image__container {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
    }
    
    .dashboard__image__section {
        margin-top: 0;
    }
}